<% include ./partials/header %>
<h3>New Page</h3>
<div class="ui container">
    <form class="ui form" action="/blogs" method="POST">
      <div class="field">
        <label>Blog Title</label>
        <input type="text" name="blog[title]" placeholder="Name">
      </div>
      <div class="field">
        <label>Image URL</label>
        <input type="text" name="blog[image]" placeholder="Image URL">
      </div>
      <div class="field">
        <label>Content</label>
        <textarea name="blog[body]"></textarea>
      </div>
      <button class="ui button" type="submit">Submit</button>
    </form>
</div>

<% include ./partials/footer %>
